# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
venv/
.venv/

# Env secrets
.env

# Storage
storage/images/
storage/audio/
storage/videos/
storage/test_audio/
storage/test_images/
storage/*.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
